<div class="col-xs-9">
  <h3>Booke detail</h3>
    <table class="table table-striped">
	  <tbody>
		<tr>
		 <td>Image</td>
		 <td><%= @book.title %></td>
		 <td><%= @book.body %></td>
		 <td>Edit</td>
		 <td>Destroy</td>
		</tr>
	   </tbody>
	</table>
</div>

<%= render 'books/new', book: @book %>